<footer class="flex p-2">
    <div class="w-1/3 text-left">
        <a href="{{ path('readinglist') }}" class="text-blue-700 underline" hreflang="{{ app.request.locale }}">{% trans from 'page' %}readinglist{% endtrans %}</a>
    </div>
    <div class="w-1/3 text-center">Made with <i class="las la-mug-hot"></i> by <a href="https://cben.dev">cben.co</a> <i class="las la-copyright"></i>{{ 'now'|date('Y') }}</div>
    <div class="w-1/3 mr-4 text-right">
        <a href="{{ path('imprint') }}" class="text-blue-700 underline" hreflang="{{ app.request.locale }}">{% trans from 'page' %}imprint{% endtrans %}</a>
    </div>
</footer>
