{% extends "base.html.twig" %}

{% block metatags %}
    {% for type,metatags in seo %}
        {% for meta,value in metatags %}
            <meta {{ type }}="{{ meta }}" content="{{ value }}"/>
        {% endfor %}
    {% endfor %}
{% endblock %}

{% block body %}
    <div class="header flex flex-col">
        <header class="px-4 py-2 m-2 h-1/3">
            <h1 class="text-3xl text-white rounded py-2 px-4">cben.dev</h1>
        </header>
        <div class="text-center px-4 py-2 m-2 h-1/3" role="region" aria-label="Welcome to my Website">
            <div class="flex flex-col w-full self-center items-center justify-center" role="img" aria-label="cben.dev Logo">
                <picture>
                    <source alt="cben.dev Logo" loading="lazy" srcset="{{ asset('build/images/7099583.webp') }}">
                    <img class="w-40 h-40 bg-white text-center rounded-full shadow-lg p-2" width="160" height="160" loading="lazy" src="{{ asset('build/images/7099583.png') }}" alt="cben.dev Logo">
                </picture>
            </div>
        </div>
        <main class="flex flex-col md:flex-row text-center px-4 py-2 m-2 self-center items-center justify-center">
            <div class="max-w-sm rounded w-full h-full overflow-hidden shadow-lg bg-white m-1">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2"><a href="{{ path('projects') }}">{% trans from 'page' %}projects{% endtrans %}</a></div>
                    <p class="text-gray-700 text-base">
                        {% trans %}projects.label{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="max-w-sm rounded w-full h-full overflow-hidden shadow-lg bg-white m-1">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2"><a href="{{ path('about') }}">{% trans from 'page' %}about{% endtrans %}</a></div>
                    <p class="text-gray-700 text-base">
                        {% trans %}basic.whoami{% endtrans %}
                    </p>
                </div>
            </div>
            <div class="max-w-sm rounded w-full h-full overflow-hidden shadow-lg bg-white m-1">
                <div class="px-6 py-4">
                    <div class="font-bold text-xl mb-2"><a href="{{ path('freelancing') }}">{% trans from 'page' %}freelancing{% endtrans %}</a></div>
                    <p class="text-gray-700 text-base">
                        {% trans %}client.label{% endtrans %}
                    </p>
                </div>
            </div>
        </main>
    </div>
{% endblock %}
